.panel-body {
    background: #fff;
    border: 1px solid #e5e6e7;
    border-radius: 2px;
    padding: 20px;
    position: relative;
}
.component-content{
    min-height: 100vh;
}
.input-group-addon {
    background-color: #fff;
    border: 1px solid #c9c9c9;
    border-radius: 1px;
    color: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding: 6px 12px;
    text-align: center;
}
.search-result {
    margin-top: 30px;
}
.row {
    margin-bottom: 15px;
}
.center-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }