<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="menu-content pb-60 col-lg-10">
            <div class="title text-center">
                <h1 class="mb-10">Các kênh việc làm</h1>
                <p>Tìm kiếm những công việc phù hợp với chính bạn.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="single-fcat">
                <a routerLink="/timviec" [queryParams]="{searchText: 'Tester' }">
                    <img src="/assets/img/o1.png" alt="">
                </a>
                <p>Tester</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="single-fcat">
                <a routerLink="/timviec" [queryParams]="{searchText: 'Writer' }">
                    <img src="/assets/img/o2.png" alt="">
                </a>
                <p>Writer</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="single-fcat">
                <a routerLink="/timviec" [queryParams]="{searchText: 'IT' }">
                    <img src="/assets/img/o3.png" alt="">
                </a>
                <p>IT</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="single-fcat">
                <a routerLink="/timviec" [queryParams]="{searchText: 'Designer' }">
                    <img src="/assets/img/o4.png" alt="">
                </a>
                <p>Designer</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="single-fcat">
                <a routerLink="/timviec" [queryParams]="{searchText: 'Leader' }">
                    <img src="/assets/img/o5.png" alt="">
                </a>
                <p>Leader</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="single-fcat">
                <a routerLink="/timviec" [queryParams]="{searchText: 'Developer' }">
                    <img src="/assets/img/o6.png" alt="">
                </a>
                <p>Developer</p>
            </div>
        </div>
    </div>
</div>