<div class="component-content">
  <div class="panel-body">
      <h2>
          <span class="circle-wrapper"><i class="fa fa-suitcase"></i></span>
          Công ty
      </h2>
      <form  (ngSubmit)="companyInfoForm.valid" [formGroup]="companyInfoForm" class="form-content">
          <div class="form-group" >
              <label for="nameForm" class="col-sm-3 control-label"  aria-required="true">Tên Công Ty</label>
            <div class="col-md-9">
              <input *ngIf="isEdit" id="nameForm" [(ngModel)]="companyInfoModel.name" type="text"  class="form-control"  aria-required="true" formControlName="name">
              <input *ngIf="!isEdit" id="nameForm" type="text"  class="form-control"  aria-required="true" formControlName="name">
              <div *ngIf="isSubmit && f.name.errors">
                <small class="text-danger" *ngIf = "f.name.errors.required">
                  Vui lòng nhập chức danh.
                </small>
              </div>
            </div>
            
          </div>
          <div class="form-group">
              <label for="scaleForm" class="col-sm-3 control-label"  aria-required="true">Quy Mô Công Ty</label>
            <div class="col-md-9">
              <select *ngIf="isEdit" [(ngModel)]="companyInfoModel.scale.id" id="scaleForm" class="form-control select-width" formControlName="scale">
                    <option *ngFor="let scale of scales" [value]="scale.id">{{scale.name}}</option> 
              </select>
              <select *ngIf="!isEdit"  id="scaleForm" class="form-control select-width" formControlName="scale">
                <option *ngFor="let scale of scales" [value]="scale.id">{{scale.name}}</option> 
              </select>
              <div *ngIf ="isSubmit && f.scale.errors">
                <small class="text-danger" *ngIf = "f.scale.errors.required">
                    Vui lòng chọn quy mô công ty.
                </small>
            </div>
            
            </div>
          </div>

        <div class="form-group"> 
          <label for="addressForm" class="col-sm-3 control-label"  aria-required="true">Địa Chỉ Công Ty</label>
        <div class="col-md-9">
          <input *ngIf="isEdit" [(ngModel)]="companyInfoModel.address" id="addressForm" type="text" class="form-control" formControlName="address">
          <input *ngIf="!isEdit"  id="addressForm" type="text" class="form-control" formControlName="address">
            <div *ngIf ="isSubmit && f.address.errors">
                <small class="text-danger" *ngIf = "f.address.errors.required">
                    Vui lòng nhập địa chỉ công ty.
                </small>
            </div>
          </div>
        </div>

        <div class="form-group"> 
          <label for="summaryForm" class="col-sm-3 control-label"  aria-required="true">Thông Tin Công Ty</label>
        <div class="col-md-9">
          <textarea *ngIf="isEdit" [(ngModel)]="companyInfoModel.summary" id="summaryForm" formControlName="summary" rows="6" class="form-control" ></textarea>
          <textarea *ngIf="!isEdit" id="summaryForm" formControlName="summary" rows="6" class="form-control" ></textarea>
             <div *ngIf ="isSubmit && f.summary.errors">
                <small class="text-danger" *ngIf = "f.summary.errors.required">
                  Vui lòng nhập thông tin công ty.
                  </small>
            </div>
          </div>
        </div>

        <div class="form-group"> 
          <label for="phoneNumberForm" class="col-sm-3 control-label"  aria-required="true">Số Điện Thoại Công Ty</label>
        <div class="col-md-9">
          <input *ngIf="isEdit" [(ngModel)]="companyInfoModel.phoneNumber" id="phoneNumberForm" type="text" class="form-control" formControlName="phoneNumber">
          <input *ngIf="!isEdit" id="phoneNumberForm" type="text" class="form-control" formControlName="phoneNumber">
            <div *ngIf ="isSubmit && f.phoneNumber.errors">
                <small class="text-danger" *ngIf = "f.phoneNumber.errors.required">
                    Vui lòng nhập số điện thoại công ty.
                </small>
            </div>
          </div>
        </div>

        <div class="form-group"> 
          <label for="summaryForm" class="col-sm-3 control-label"  aria-required="true">Cho phép xem</label>
        <div class="col-md-9">
          <input *ngIf="isEdit" [(ngModel)]="companyInfoModel.isShow" formControlName="isShow" type="checkbox">
          <input *ngIf="!isEdit" formControlName="isShow" type="checkbox">
          </div>
        </div>

        <div class="text-right col-sm-12">
          <button [hidden]="isSubmit && !companyInfoForm.valid" class="btn btn-primary btn-save-password btn" type="submit" (click)="saveData()">
            <span>Lưu</span>
          </button>
        </div>
    </form> 
  </div>
  </div>