.panel-body {
    background: #fff;
    border: 1px solid #e5e6e7;
    border-radius: 2px;
    padding: 20px;
    position: relative;
}
.control-label{
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
    text-transform: capitalize;
    font-weight: bold;
}
.circle-wrapper {
    background: #36a2f1;
    color: #fff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    width: 32px;
    height: 32px;
    display: inline-block;
    line-height: 32px;
    text-align: center;
    font-size: 18px;
}
h2 {
    font-size: 24px;
    margin-bottom: 15px;
}
.form-group{
    margin-bottom: 15px;
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
}
.form-content {
    margin-right: 30px;
}
.component-content{
    height: 100vh;
}
