<div class="container">
    <div class="row fullscreen d-flex align-items-center justify-content-center" style="height: 794px;">
        <div class="banner-content col-lg-12">
            <h1 class="text-white">
                <span>1500+</span> Công việc đã được đăng tuyển
            </h1>
            <div class="search-bar">
                <app-search-bar></app-search-bar>
            </div>
            <p class="text-white">
                <span>Từ khóa:</span> Công nghệ thông tin, Thiết kế đồ họa, Cơ khí, Ngân hàng,...</p>
        </div>
    </div>
</div>