<div class="component-content">
  <div class="panel-body">
    <div id="grid-job-list" class="col-sm-12">
      <table class="table table-job-list">
  <thead>
  <tr>
  <th class="col-job-title">Tiêu đề việc làm</th>
  <th class="col-expiry">Hết hạn</th>
  <th >Applications</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let job of pagesItems">
  <td class="job-info">
    <a [routerLink]="['ungtuyen', job.id]" class="job-title"><strong>{{job.name}}</strong></a>
          <div class="job-location">
            {{job.location}}
           </div>
  <div class="actions job-actions">
      <button type="button" class="btn btn-primary btn-sm" [routerLink]="['dangtin', job.id]"> <i class="fa fa-pencil" aria-hidden="true" ></i>Sửa</button>
      <button type="button" class="btn btn-danger btn-sm" (click)="open(content)"><i class="fa fa-trash" aria-hidden="true"></i>Xóa</button>
      <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Bạn có chắc chắn muốn xóa tin tuyển dụng này không?</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="c('Bo qua')">Bỏ qua</button>
          <button type="button" class="btn btn-danger" (click)="delete(job.id,c)">Xóa</button>
        </div>
      </ng-template>
    </div>
  
  </td>
  <td class="job-labels">
      {{job.dateToString}}
  </td>

  <td>
      {{job.vacancies}}
  </td>
  </tr>
  </tbody>
  </table>
  <div class="center-btn" *ngIf="listRecruitment && listRecruitment.length >=6">
    <button type="button" class="btn btn-outline-info" [disabled]="curPage == 0"
      (click)="setPage(curPage = curPage-1)"> &lt; Trang trước</button>
      <button type="button" class=" btn btn-outline-info " [disabled]="true">Trang {{curPage + 1}} trong {{ numberOfPages() }}</button>
    <button type="button" class="btn btn-outline-info"
    [disabled]="curPage >= listRecruitment.length/pageSize - 1"
    (click)="setPage(curPage = curPage+1)">Trang kế &gt;</button>
  </div>
  
  </div>
  </div>

</div>