<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <app-banner></app-banner>
</section>
<section class="features-area">
    <app-feature></app-feature>
</section>
<!-- <section class="popular-post-area pt-100">
    <app-popular-post></app-popular-post>
</section> -->
<section class="feature-cat-area pt-100" id="category">
    <app-job-category></app-job-category>
</section>
<section class="post-area section-gap">
    <app-job-posting></app-job-posting>
</section>