.banner-area {
	background:url(/assets/img/b2.jpg) center;
	background-size:cover;
	.overlay-bg{
		background-image: -webkit-linear-gradient(0deg, #bfacff 0%, #795fff 100%);
		opacity:.95;
	}
}

.section-gap {
	padding: 20px 0;
}