<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="single-feature">
                <h4>Đa dạng hồ sơ</h4>
                <p>
                    Tạo hồ sơ để nhà tuyển dụng nhìn thấy bạn.
                </p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="single-feature">
                <h4>Công việc phù hợp</h4>
                <p>
                    Tìm những công việc phù hợp theo các tiêu chí.
                </p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="single-feature">
                <h4>Trắc nghiệm tính cách</h4>
                <p>
                    Xác định công việc phù hợp với bản thân.
                </p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="single-feature">
                <h4>Tin tuyển dụng</h4>
                <p>
                    Tiếp cận hàng trăm nghìn người tìm việc.
                </p>
            </div>
        </div>
    </div>
</div>